/* You can add global styles to this file, and also import other style files #001F22*/
html{
    font-size: 16px;
}
* {
    font-family: "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", "sans-serif";
}

$ys_color: #00CEFF;
$ws_color: #FFA800;
$ps_color: #00FF04;
$color_red: #FF764F;
$bg_red1: #FF764F;
$bg_red2: #FFA186;
$blue_more: #010309;
$blue_less: #C7F7FF;
$blue_normal: #1C40BC;
$alarm_normal: #FF0074;
$alarm_dark: #D10101;
$blue_1: #0085D0;
$blue2: #75CBFB;
$blue3: #0412b5;
$blue_header_light:linear-gradient(-180deg, #496CE5 0%, #193DBA 100%);
$blue_header_dark:  linear-gradient(-180deg, #122770 0%, #000000 100%);
