<div class="work-list">
    <div class="head-title">
        <span class="back-to"></span>
        <div class="title">已处理工单</div>
    </div>
    <ul class="list-details">
      <li>
        <h4>1、故障描述:堵塞</h4>
        <div class="complete-time">
          指定完成时间: <br>
          2018-07-12 09: 00 - 2018-07-12 18:00
        </div>    
      </li>
      <li>
        <h4>1、故障描述:堵塞</h4>
        <div class="complete-time">
          指定完成时间: <br>
          2018-07-12 09: 00 - 2018-07-12 18:00
        </div>    
      </li>  
      <li>
        <h4>1、故障描述:堵塞</h4>
        <div class="complete-time">
          指定完成时间: <br>
          2018-07-12 09: 00 - 2018-07-12 18:00
        </div>    
      </li>  
    </ul>
</div>

