@import "../../../styles";
.home-main{
  width: 100vw;
  height: calc( 100vh - 3rem );
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  .home-box{
    width: 80%;
    min-height: 25%;
    margin: 1rem auto;
    border: 1px solid #1C40BC;
    border-radius: 3px;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    header{
      width: 100%;
      background-image: linear-gradient(0deg, #000000 0%, #122770 100%);
      padding: 1rem;
      text-align: left;
    }
    .home-contain{
      padding: 1rem;
      flex: 1;
      border-top: 1px solid #1C40BC;
      border-bottom: 1px solid #1C40BC;
      width: 100%;
      text-align: center;
      &.resovle{
        padding: 0;
        li{
          width: 100%;
          list-style: none;
          text-align: left;
          height: 100%;
          background-image: linear-gradient(0deg, #122770 0%, #000000 100%);
          padding: 4.6% 7% 5.3%;
          color: #fff;
          h4{
              font-size: 1rem;
              margin-bottom: 2.8%;
              letter-spacing: -0.77px;
              .map-icon{
                  background:url('/assets/img/blue_water.png') no-repeat;
                  width: 40px;
                  height: 50px;
              }
          }
          .complete-time{
              font-size: 0.75rem;
              letter-spacing: -0.58px;
          }
        }
      }
      .pipleMsg{
        position: relative;
        display: flex;
        align-items: center;
        .map-icon{
            background:url('/assets/img/blue_water.png') no-repeat;
            width: 1.25rem;
            height: 1.5625rem;
            transform: scale(0.5);
        }
      }
    }
    .home-btn{
      display: flex;
      align-items: center;
      width: 100%;
      span {
        padding: 1rem 0;
        flex: 1;
        text-align: center;
        background-image: linear-gradient( #496CE5 0%, #193DBA 100%);
        &.disabled{
          pointer-events: none;
          background-image: linear-gradient( rgb(79, 80, 82) 0%, rgb(26, 28, 34) 100%); 
        }
      }
    }
  }
}