<div class="home-main">
  <div class="reslove-box home-box" *ngIf="resloveDate">
    <header>待处理工单</header>
    <div class="home-contain resovle">
      <li>
        <div *ngIf="resloveDate.patrolPlan">
            <h4>{{resloveDate.patrolPlan.description}}</h4>
            <div class="complete-time">
              指定巡检时间: <br>
              {{resloveDate.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>           
        </div>  
        <div *ngIf="resloveDate.alarm">
            <h4>预警描述:<br>
                {{resloveDate.alarm.description}}</h4>
            <h4 *ngIf="resloveDate.alarm.target.object">管道信息:{{resloveDate.alarm.target.object.serialNumber}} <span class="map-icon"></span> </h4>    
            <div class="complete-time">
              要求完成时间: <br>
              {{resloveDate.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>           
        </div>
        <div *ngIf="resloveDate.fault">
            <h4>故障描述:<br>
                {{resloveDate.fault.description}}</h4>
            <h4 *ngIf="resloveDate.fault.target.object">管道信息:{{resloveDate.fault.target.object.serialNumber}} <span class="map-icon"></span> </h4>    
            <div class="complete-time">
              要求完成时间: <br>
              {{resloveDate.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>           
        </div>                  
      </li> 
    </div>
    <section class="home-btn">
      <span *ngFor="let detailbtn of detailbtns" (click)='btnEmit(detailbtn.event)'>{{detailbtn.name}}</span>
    </section>
  </div>
  <div class="unreslove-box home-box">
    <header>待认领工单</header>
    <div class="home-contain">
      {{pendingNum}}个
    </div>
    <section class="home-btn" [class.disabled]="pendingNum<1 || resloveDate">
      <span routerLink='/home/work-order/work-list/PENDING'>去认领</span>
    </section>
  </div>
</div>