<div class="home-main">
  <div class="reslove-box home-box" *ngIf="resloveDate">
    <header>{{detailTitle[resloveDate.status]}}</header>
    <div class="home-contain resovle">
      <li>
        <div *ngIf="resloveDate.patrolPlan">
            <h4 class="pipleMsg">{{resloveDate.patrolPlan.description}}</h4>
            <div class="complete-time">
              指定巡检时间: <br>
              {{resloveDate.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>           
        </div>  
        <div *ngIf="resloveDate.alarm">
            <h4>预警描述: {{resloveDate.alarm.description}}</h4>
            <h4 class="pipleMsg" *ngIf="resloveDate.alarm.target.object">管道信息: {{resloveDate.alarm.target.object.serialNumber || resloveDate.alarm.target.object.startPoint.serialNumber + '-' + resloveDate.alarm.target.object.endPoint.serialNumber}} <span (click)="navigateUrl('map')" class="map-icon"></span> </h4>    
            <div class="complete-time">
              要求完成时间: <br>
              {{resloveDate.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>           
        </div>
        <div *ngIf="resloveDate.fault">
            <h4>故障描述: {{resloveDate.fault.description}}</h4>
            <h4 class="pipleMsg" *ngIf="resloveDate.fault.target.object">管道信息: {{resloveDate.alarm.target.object.serialNumber || resloveDate.alarm.target.object.startPoint.serialNumber + '-' + resloveDate.alarm.target.object.endPoint.serialNumber}}<span (click)="navigateUrl('map')" class="map-icon"></span> </h4>    
            <div class="complete-time">
              要求完成时间: <br>
              {{resloveDate.finishAt|date:'yyyy-MM-dd HH:mm:ss'}}
            </div>           
        </div> 
        <a class="navigater-link" *ngIf="!(resloveDate.status!=='PROCESSED')" (click)="navigateUrl('detail')"  ></a>                 
      </li> 
    </div>
    <section *ngIf="resloveDate.status!=='PROCESSED'" class="home-btn">
      <span *ngFor="let detailbtn of detailbtns" (click)='btnEmit(detailbtn.event)' [class.disabled]="reportLoading&&detailbtn.event==='report'">{{detailbtn.name}}</span>
    </section>
  </div>
  <div class="unreslove-box home-box">
    <header>待认领工单</header>
    <div class="home-contain">
      {{pendingNum}}个
    </div>
    <section class="home-btn" >
      <span [class.disabled]="pendingNum<1 || resloveDate" routerLink='/home/work-order/work-list/PENDING'>去认领</span>
    </section>
  </div>
</div>