<div class="home-main">
  <div class="reslove-box home-box" [class.disabled]="!resloveNum">
    <header>待处理工单</header>
    <div class="home-contain">
      详情
    </div>
    <section class="home-btn">
      <span>处理完成</span>
      <span>上报完成</span>
    </section>
  </div>
  <div class="unreslove-box home-box">
    <header>待认领工单</header>
    <div class="home-contain">
      {{pendingNum}}个
    </div>
    <section class="home-btn" [class.disabled]="pendingNum<1 || resloveNum">
      <span>去认领</span>
    </section>
  </div>
</div>