<div class="work-order-main">
    <ul class="count-list" >
      <li routerLink='/home/work-order/detail/{{count.code}}' *ngFor="let count of maintain">
        {{count.name}}<span class="count-num">({{count.total}})</span><span class="count-icon"></span>
      </li>
    </ul>
    <!-- <section class="count-btn">
      <div (click)="changeType(1)" class="count-btn-item" [class.active]="activeOrder === 1">维护工单</div>
      <div (click)="changeType(2)" class="count-btn-item" [class.active]="activeOrder === 2">养护工单</div>
    </section> -->
</div>
